
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  text-align: center;
}


.jR3DCarouselGalleryDefault,
.jR3DCarouselGalleryCustom {
  margin:0 auto;

}
