

header {
    /*background: #BBBBBB;*/
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    /*border-bottom:1px solid #666;*/
    /*border-top:1px solid #666;*/
}
/*section#content {
    background-color: #fff;
    max-width: 1000px;
    min-width:700px;
    margin:0  auto;
    padding: 200px 20px 130px;
    }*/
