/*General*/
body, input, button, textarea {
  font-family: 'Varela Round', Helvetica Neue, Helvetica, Arial, serif;
}
body {
  font-size: 1em;
  color: #777B7E;
  font-weight: 400;
  background: #D3D8DC;
  position: relative;
}
body {
    font-family: 'Open Sans', sans-serif;
}
nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

/*footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ccc;*/
/*}*/
















.background{
    /*height: relative;*/
    left: -300px;
    /*position: absolute;*/
    top: -300px;
    bottom: -90px;
    width: 100%;
    height: 100%;
    /*margin-bottom: 40px;*/
    /*z-index: -1;*/
}

#background1{
    background: url(../img/background.jpg) 100% 0;


}


}













img {
    max-width: 100%;
}
#logo {
    text-align: center;
    margin: 0;
}

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #f5f5f5;
    color: #bdc3c7
}

#gallery li a p {
    margin:0;
    padding: 2%;
    font-size: 0.75em;
    color: #bdc3c7
}


.profile-photo{display: block;
max-width: 150px;
margin: 0 auto 30px;
border-radius: 100%;
}
nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

font-weight: normal;
line-heigt: 0.8em;
h2 {
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}
h1{
  text-align: center;
}
h3{
  text-align: center;
  /*padding-top: 90px;*/
}

a {
  text-decoration: none;
  color: #2C3238;
}
a:hover {
  color: #000;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}
/*########################################################################*/
/*Typography*/
h1, h2, h3, h4 {
  font-size: 1.15em;
  font-weight: normal;
  margin: 0;
  line-height: 1em;
}

/*########################################################################*/
/*Sticky*/
header{
.header {
  background-color: white;
  position:fixed;
  transition: 1s;
}

.is-sticky .header {
  background-color: black;
  position:fixed;
}

.is-sticky .index {
  background: #fff;
  padding: 12px 0;
  position:fixed;
  margin: 0;
}
}









p {
  margin: 0;
  line-height: 1.5em;
}

/*Header*/
/*header {
  width: 100%;


  padding: 10px 0;
}*/
.icon-logo { /*linkes logo */
  width: 30px;
  height: 30px;
  background: url('../img/icon-logo.svg') center no-repeat;
  background-size: 30px 30px;
  display: block;
  float: left;
  margin-left: -250px;
  margin-top: 45px;
}

.gallery { /*anime rechts neben index*/
  width: 30px;
  height: 30px;
  background: url('../img/gallery.svg') center no-repeat;
  background-size: 30px 30px;
  display: block;
  float: right;
  margin-right: -200px;
  margin-top: 30px;
}
.icon-power { /*#logout*/
  width: 30px;
  height: 30px;
  background: url('../img/icon-power.svg') center no-repeat;
  background-size: 30px 30px;
  display: block;
  float: right;
  margin-right: -400px;
  margin-top: 30px;
}
.icon-profile {
  width: 30px;
  height: 30px;
  background: url('../img/icon-profile.svg') center no-repeat;
  background-size: 30px 30px;
  display: block;
  float: right;
  margin-right: -350px;
  margin-top: 30px;
}
.about { /*war icon-power2*/
  width: 30px;
  height: 30px;
  background: url('../img/about.svg') center no-repeat;
  background-size: 30px 30px;
  display: block;
  float: right;
  margin-right: -350px;
  margin-top: 30px;
}
.paint { /*war icon-power3*/
  width: 30px;
  height: 30px;
  background: url('../img/paint.svg') center no-repeat;
  background-size: 30px 30px;
  display: block;
  float: right;
  margin-right: -300px;
  margin-top: 30px;
}

.stream {  /*war icon-power4*/
  width: 30px;
  height: 30px;
  background: url('../img/stream.svg') center no-repeat;
  background-size: 30px 30px;
  display: block;
  float: right;
  margin-right: -250px;
  margin-top: 30px;
}
.game {
  width: 30px;
  height: 30px;
  background: url('../img/game.svg') center no-repeat;
  background-size: 30px 30px;
  display: block;
  float: right;
  margin-right: -150px;
  margin-top: 30px;
}
.game2 {
  width: 30px;
  height: 30px;
  background: url('../img/game.svg') center no-repeat;
  background-size: 30px 30px;
  display: block;
  float: right;
  margin-right: -100px;
  margin-top: 30px;
}


/*Main*/
.main {
  max-width: 800px;
  margin: 40px auto 0;
  background: #fff;
  border-radius: 4px;
  transition: .35s linear;
  padding-bottom: 20px;
}
.skinny {
  max-width: 320px;
  padding: 40px;
}
nav{
  padding: 0 0 0 20px;
  position: relative;
  line-height: 60px;
  font-size: .875em;
}
nav a {
  padding: 0 20px 10px;
}
nav a.new {
  float: right;
  text-transform: uppercase;
  color: #FFB770;
}
nav a.current {
  color: #FFB770;
  border-bottom: 2px solid #FFB770;
}
article {
  border-bottom: 2px solid #ECEEEF;
  margin: 0;
  padding: 40px;
}
article:last-child {
  border-bottom: 0;
}
article p {
  margin: 20px 0 0;
}
time {
  font-size: .875em;
  opacity: .8;
}

/*Form Elements*/
form {
    margin: 0;
    padding: 40px;
}
input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #D3D8DC;
  outline: 0;
  background: #fff;
  padding: 20px 0 4px;
  margin: 0 0 20px;
  color: #777B7E;
}
input:focus {
  border-color: #6ECDF7;
  color: #2C3238;
}
textarea {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #D3D8DC;
  outline: 0;
  background: #fff;
  padding: 20px 0 4px;
  margin: 0 0 20px;
  color: #777B7E;
}
textarea:focus {
  border-color: #6ECDF7;
  color: #2C3238;
}
button {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background: #6ECDF7;
  color: #fff;
  border: 0;
  border-radius: 4px;
  opacity: .8;
  transition: .35s linear;
}
button:hover {
  opacity: 1;
}
button.small {
    padding: 1em 0.5em;
    margin: 0 auto;
    text-align: center;
}

/*Profile*/
.stats {
  width: 100%;
  display: table;
  text-align: center;
}
.status {
  border: 4px solid #D5DDE4;
  border-radius: 4px;
  width: 80%;
  margin: 10px 10%;
  display: block;
  padding: 10px 0;
  color: #D5DDE4;
  opacity: .8;
  transition: .35s linear;
}
.status:hover {
  opacity: 1;
  color: inherit;
}
.follow {
  border-color: #6ECDF7;
  color: #6ECDF7;
}
.follow::before {
  content: '+ '
}
.unfollow {
  border-color: #6ECDF7;
  color: #6ECDF7;
}
.unfollow::before {
  content: '- '
}
.disabled {
  border-color: #D5DDE4;
  color: #D5DDE4;
}
.view {
    font-size: 0.8em;
    text-transform: upper;
}

/*Notifications*/
.notification {
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
}
.success {
  background: #70DA8B;
  color: #4DA463;
}
.error {
  background: #FFE6B2;
  color: #C5A14E;
  margin-bottom: 20px;
}

/*Footer*/
footer{
  color: #777B7E;

  text-align: center;
  align-self: center;
  background-color: #2D2D2D;

  font-size: .875em;
  margin-left: -700px;
  margin-right: -700px;
  margin-bottom: -207px;
  /*margin-top: -90px;*/
  /*padding: 0em 600px;*/
  /*position: absolute;*/
}

footer p {
  position: absolute;
  opacity: .7;
}

/*Grid*/
.row {
  max-width: 800px;
  padding: 0 40px;
  margin: 0 auto;

}
.row:before, .row:after {
  content: '';
  display: table;
}
.row:after {
  clear: both;
}




  .row {
    padding: 0 10px;
}

.post {
    white-space: pre;
}
/*footer*/

.social-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px
}


a {
    text-decoration: none;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

img {
    max-width: 100%;
}
