<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}IDPA{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/normalize.min.css">
        <link rel="stylesheet" href="/static/css/background.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/gallery.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="https://unpkg.com/smartphoto@0.5.9/css/smartphoto.min.css">


            <!-- <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script> -->
            <!-- <script>window.html5 || document.write('<script src="/static/js/vendor/html5shiv.js"><\/script>')</script> -->

    </head>
    <body>


        <header>

          <div class="row">

            <div class="grid-33">

              <a href="{{ url_for('index') }}" class="icon-logo"></a>

            </div>

            <div class="grid-33">

                <!-- Say Hi -->
                <h1>Hello{% if current_user.is_authenticated() %} {{ current_user.username }}{% endif %}!</h1>

            </div>

            <div class="grid-33">

                <!-- Log in/Log out -->
                {% if current_user.is_authenticated() %}
                <a href="{{ url_for('logout') }}" class="icon-power" title="Log out"></a>
                <a href="{{ url_for('about') }}" class="about" title="about"></a>
                <a href="{{ url_for('paint') }}" class="paint" title="paint"></a>
                <a href="{{ url_for('stream') }}" class="stream" title="stream"></a>
                <a href="{{ url_for('gallery') }}" class="gallery" title="gallery"></a>
                <a href="{{ url_for('game') }}" class="game" title="game"></a>
                <a href="{{ url_for('game2') }}" class="game2" title="game2"></a>
                {% else %}
                <a href="{{ url_for('login') }}" class="icon-power" title="Log in"></a>
                <a href="{{ url_for('register') }}" class="icon-profile" title="Register"></a>
                {% endif %}

            </div>

          </div>

        </header>

        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="notification {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="row">
          <canvas id="canvas"></canvas>

          <h1>Image Gallery</h1>
          <ul id="imageGallery">
            <li><a href="/static/img/refferal_machine.png"><img src="../static/img/refferal_machine.png" width="100" alt="Refferal Machine By Matthew Spiel"></a></li>
            <li><a href="/static/img/space-juice.png"><img src="/static/img/space-juice.png" width="100" alt="Space Juice by Mat Helme"></a></li>
            <li><a href="/static/img/education.png"><img src="/static/img/education.png" width="100" alt="Education by Chris Michel"></a></li>
            <li><a href="/static/img/copy_mcrepeatsalot.png"><img src="/static/img/copy_mcrepeatsalot.png" width="100" alt="Wanted: Copy McRepeatsalot by Chris Michel"></a></li>
            <li><a href="/static/img/sebastian.png"><img src="/static/img/sebastian.png" width="100" alt="Sebastian by Mat Helme"></a></li>
            <li><a href="/static/img/skill-polish.png"><img src="/static/img/skill-polish.png" width="100" alt="Skill Polish by Chris Michel"></a></li>
            <li><a href="/static/img/chuck.png"><img src="/static/img/chuck.png" width="100" alt="Chuck by Mat Helme"></a></li>
            <li><a href="/static/img/library.png"><img src="/static/img/library.png" width="100" alt="Library by Tyson Rosage"></a></li>
            <li><a href="/static/img/boat.png"><img src="/static/img/boat.png" width="100" alt="Boat by Griffin Moore"></a></li>
            <li><a href="/static/img/illustrator_foundations.png"><img src="/static/img/illustrator_foundations.png" width="100" alt="Illustrator Foundations by Matthew Spiel"></a></li>
            <li><a href="/static/img/treehouse_shop.jpg"><img src="/static/img/treehouse_shop.jpg" width="100" alt="Treehouse Shop by Eric Smith"></a></li>
            <li><a href="/static/img/_origin_Dazi-Maindfaki-22.jpg"><img src="/static/img/_origin_Dazi-Maindfaki-22.jpg" width="100" alt="funny meme"></a></li>
            <li><a href="/static/img/0f20aa6fc86e9fad9001a783ace6f408.jpg"><img src="/static/img/0f20aa6fc86e9fad9001a783ace6f408.jpg" width="100" alt="Good Job Retard"></a></li>
            <li><a href="/static/img/1f5d18aa90bb034f08703d771e6d6ac7.jpg"><img src="/static/img/1f5d18aa90bb034f08703d771e6d6ac7.jpg" width="100" alt="oh crap"></a></li>
            <li><a href="/static/img/4q0OKQu.jpg"><img src="/static/img/4q0OKQu.jpg" width="100" alt="funny animals"></a></li>
            <li><a href="/static/img/anime.jpg"><img src="/static/img/anime.jpg" width="100" alt="funny anime"></a></li>
            <li><a href="/static/img/bla.jpg"><img src="/static/img/bla.jpg" width="100" alt="you dont say?"></a></li>
            <li><a href="/static/img/caleesi.jpg"><img src="/static/img/caleesi.jpg" width="100" alt="funny"></a></li>
            <li><a href="/static/img/cat.jpg"><img src="/static/img/cat.jpg" width="50" alt="funny cat"></a></li>
            <li><a href="/static/img/dog.jpg"><img src="/static/img/dog.jpg" width="50" alt="funny dog"></a></li>
            <li><a href="/static/img/Funny-dog-picture.jpg"><img src="/static/img/Funny-dog-picture.jpg" width="100" alt="funny dog"></a></li>
            <li><a href="/static/img/funny-image-99.jpg"><img src="/static/img/funny-image-99.jpg" width="100" alt="funny japan"></a></li>
            <li><a href="/static/img/girlscouts.jpg"><img src="/static/img/girlscouts.jpg" width="100" alt="funny girlscouts"></a></li>
            <li><a href="/static/img/got.png"><img src="/static/img/got.png" width="100" alt="funny got"></a></li>
            <li><a href="/static/img/haruhi.jpg"><img src="/static/img/haruhi.jpg" width="100" alt="funny haruhi"></a></li>
            <li><a href="/static/img/hqdefault-1.jpg"><img src="/static/img/hqdefault-1.jpg" width="100" alt="nice looking guy"></a></li>
            <li><a href="/static/img/hqdefault.jpg"><img src="/static/img/hqdefault.jpg" width="100" alt="coloring"></a></li>
            <li><a href="/static/img/i-fking-love-wrestling-5.jpg"><img src="/static/img/i-fking-love-wrestling-5.jpg" width="50" alt="perspective"></a></li>
            <li><a href="/static/img/meme.jpg"><img src="/static/img/meme.jpg" width="50" alt="funny meme"></a></li>
            <li><a href="/static/img/neTYTWb.jpg"><img src="/static/img/neTYTWb.jpg" width="100" alt="funny star wars"></a></li>
            <li><a href="/static/img/original-1.jpg"><img src="/static/img/original-1.jpg" width="100" alt="daijobu"></a></li>
            <li><a href="/static/img/squirrel.jpg"><img src="/static/img/squirrel.jpg" width="100" alt="outsch"></a></li>

          </ul>



  </div>






    <a href="./static/img/squirrel.jpg" class="js-smartPhoto" data-caption="bear" data-id="bear" data-group="animal"/>
  <img src="./static/img/squirrel.jpg" />
</a>
<a href="./static/img/squirrel.jpg" class="js-smartPhoto" data-caption="camel" data-id="camel" data-group="animal"/>
  <img src="./static/img/squirrel.jpg" />
</a>
<a href="./static/img/squirrel.jpg" class="js-smartPhoto" data-caption="lion" data-id="lion" data-group="animal"/>
  <img src="./static/img/squirrel.jpg" />
</a>




        <!-- <script src="/static/js/vendor/disTime.min.js"></script> -->
        <script src="/static/js/background.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/js/gallery.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://unpkg.com/smartphoto@0.5.9/js/smartphoto.min.js"></script>
        <script src="/static/js/smartphoto.js"></script>

    </body>
</html>
