<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}IDPA{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<!--        <link rel="stylesheet" href="/static/css/normalize.min.css">-->
        <!-- <link rel="stylesheet" href="/static/css/background.css"> -->
        <link rel="stylesheet" href="/static/css/main.css">
<!--        <link rel="stylesheet" href="/static/css/index.css">-->
        <link rel="stylesheet" href="/static/css/carousel.css">





            <!-- <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script> -->
            <!-- <script>window.html5 || document.write('<script src="/static/js/vendor/html5shiv.js"><\/script>')</script> -->

    </head>
    <body>


        <header>

          <div class="row">

            <div class="grid-33">

              <a href="{{ url_for('index') }}" class="icon-logo"></a>

            </div>

            <div class="grid-33">

                <!-- Say Hi -->
                <h1>Hello{% if current_user.is_authenticated() %} {{ current_user.username }}{% endif %}!</h1>

            </div>

            <div class="grid-33">

                <!-- Log in/Log out -->
                {% if current_user.is_authenticated() %}
                <a href="{{ url_for('logout') }}" class="icon-power" title="Log out"></a>
                <a href="{{ url_for('about') }}" class="about" title="about"></a>
                <a href="{{ url_for('paint') }}" class="paint" title="paint"></a>
                <a href="{{ url_for('stream') }}" class="stream" title="stream"></a>
                <a href="{{ url_for('gallery') }}" class="gallery" title="gallery"></a>
                <a href="{{ url_for('game') }}" class="game" title="game"></a>
                {% else %}
                <a href="{{ url_for('login') }}" class="icon-power" title="Log in"></a>
                <a href="{{ url_for('register') }}" class="icon-profile" title="Register"></a>
                {% endif %}

            </div>

          </div>

        </header>

        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="notification {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}











<div class="container">
  <div class="galleries" style="float:eft">
    <h4>jR3DCarousel - with default options</h4>
    <div class="jR3DCarouselGalleryDefault"></div>
  </div>
  <br/>
  <hr/>
  <div class="galleries" style="float:rght">
    <h4>jR3DCarousel - with custom slides template & perspective </h4>
    <div class="jR3DCarouselGalleryCustom">
      <div class="jR3DCarouselCustomSlide"><img src="https://unsplash.it/1327/772" />
        <div class="captions">This is custom text slide 1</div>
      </div>
      <div class="jR3DCarouselCustomSlide"><img src="https://unsplash.it/1327/773" />
        <div class="captions">This is custom text slide 2</div>
      </div>
      <div class="jR3DCarouselCustomSlide"><img src="https://unsplash.it/1327/774" />
        <div class="captions">This is custom text slide 3</div>
      </div>
      <div class="jR3DCarouselCustomSlide"><img src="https://unsplash.it/1327/775" />
        <div class="captions">This is custom text slide 4</div>
      </div>
      <div class="jR3DCarouselCustomSlide"><img src="https://unsplash.it/1327/777" />
        <div class="captions">This is custom text slide 5</div>
      </div>
    </div>
  </div>
  <br/>
  <hr/>
</div>
















          <div class="grid-third">
            <img src="/static/img/sticker-team.png" alt="" />
            <p>United we stand divided we fail.  Meet the all star team behind the agency.</p>
            <a href="team.html" class="button">Meet the Team</a>
          </div><!--/team-->


          <div class="grid-third">
            <img src="/static/img/sticker-work.png" alt="" />
            <p>Check our latest app builds or download them in the App Store.</p>
            <a href="work.html" class="button">Latest Projects</a>
          </div><!--/work-->


          <div class="grid-third">
            <img src="/static/img/sticker-contact.png" alt="" />
            <p>Have questions or requests?  Feel free to contact us, we’d love hear from you.</p>
            <a href="#" class="button">Contact Us</a>
          </div><!--/contact-->

















          <div class="grid-third">
            <img src="/static/img/sticker-team.png" alt="" />
            <p>United we stand divided we fail.  Meet the all star team behind the agency.</p>
            <a href="team.html" class="button">Meet the Team</a>
          </div><!--/team-->


          <div class="grid-third">
            <img src="/static/img/sticker-work.png" alt="" />
            <p>Check our latest app builds or download them in the App Store.</p>
            <a href="work.html" class="button">Latest Projects</a>
          </div><!--/work-->


          <div class="grid-third">
            <img src="/static/img/sticker-contact.png" alt="" />
            <p>Have questions or requests?  Feel free to contact us, we’d love hear from you.</p>
            <a href="#" class="button">Contact Us</a>
          </div><!--/contact-->








          <div class="grid-third">
            <img src="/static/img/sticker-team.png" alt="" />
            <p>United we stand divided we fail.  Meet the all star team behind the agency.</p>
            <a href="team.html" class="button">Meet the Team</a>
          </div><!--/team-->


          <div class="grid-third">
            <img src="/static/img/sticker-work.png" alt="" />
            <p>Check our latest app builds or download them in the App Store.</p>
            <a href="work.html" class="button">Latest Projects</a>
          </div><!--/work-->


          <div class="grid-third">
            <img src="/static/img/sticker-contact.png" alt="" />
            <p>Have questions or requests?  Feel free to contact us, we’d love hear from you.</p>
            <a href="#" class="button">Contact Us</a>
          </div><!--/contact-->




          <div class="grid-third">
            <img src="/static/img/sticker-team.png" alt="" />
            <p>United we stand divided we fail.  Meet the all star team behind the agency.</p>
            <a href="team.html" class="button">Meet the Team</a>
          </div><!--/team-->


          <div class="grid-third">
            <img src="/static/img/sticker-work.png" alt="" />
            <p>Check our latest app builds or download them in the App Store.</p>
            <a href="work.html" class="button">Latest Projects</a>
          </div><!--/work-->


          <div class="grid-third">
            <img src="/static/img/sticker-contact.png" alt="" />
            <p>Have questions or requests?  Feel free to contact us, we’d love hear from you.</p>
            <a href="#" class="button">Contact Us</a>
          </div><!--/contact-->








    <footer>
        <p>&copy; 2017 Allan Kueng</p>
    </footer>




<!--        <script src="/static/js/vendor/disTime.min.js"></script>-->
<!--        <script src="/static/js/jquery-1.11.2.min.js"></script>-->

        <!-- <script src="/static/js/background.js"></script> -->
<!--        <script src="/static/js/bootstrap.min.js"></script>-->
<!--        <script src="/static/js/animsition.min.js"></script>-->
        <script src="/static/js/carousel.js"></script>

    </body>
</html>
